.conditionContainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 24px;
    cursor: pointer;
}

.conditionContainer .condition {
    color: var(--Almost-White, #E6E5EA);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Body (M) */
    font-family: JetBrains Mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 24px;
}

@media only screen and (max-width: 600px) {
    .conditionContainer .condition {
        font-size: 16px;
    }
}