.PasswordHeader {
    width: 540px;
    height: 80px;
    flex-shrink: 0;
    
    background: var(--Dark-Grey, #24232C);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.PasswordHeader .password {
    color: var(--Almost-White, #E6E5EA);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Heading (L) */
    font-family: JetBrains Mono;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 19px 0px 19px 32px;
}

.PasswordHeader .copyIcon {
    width: 21px;
    height: 24px;
    flex-shrink: 0;
    padding: 28px 32px 28px 0px;
}