.PasswordHeader {
    width: 540px;
    height: 80px;
    flex-shrink: 0;
    
    background: var(--Dark-Grey, #24232C);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.PasswordHeader .password {
    color: var(--Almost-White, #E6E5EA);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Heading (L) */
    font-family: JetBrains Mono;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 19px 0px 19px 32px;
}

.PasswordHeader .copyContainer {
    display: flex;
    align-items: center;
}

.PasswordHeader .copyContainer .copyText {
    color: var(--Neon-Green, #A4FFAF);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Body (M) */
    font-family: JetBrains Mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 10px;
}

.PasswordHeader .copyContainer .copyIcon {
    width: 21px;
    height: 24px;
    flex-shrink: 0;
    /* padding: 28px 32px 28px 0px; */
    margin-right: 32px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .PasswordHeader {
        width: 343px;
        height: 64px;
        flex-shrink: 0;
    }

    .PasswordHeader .password {
        font-size: 20px;
        padding: 17px 0px 15px 16px;
    }

    .PasswordHeader .copyContainer .copyText {
        font-size: 16px;
        margin-right: 10px;
    }
}